$colors: (
  common: (
    'white': #ffffff,
    'black': #1b1b1b,
  ),
  heading: (
    'primary': #1b1b1b,
  ),
  grey: (
    '1': #e6e6e6,
    '2': #e9cfcf,
  ),
  text: (
    'body': #424242,
    '1': #000,
  ),
  theme: (
    '1': #00bbae,
    '2': #ff9b24,
    '3': #ff577b,
    '4': #fff8eb,
    '5': #ffa455,
    '6': #fff6eb,
    '7': #ebfffe,
    '8': #ffecd6,
    '9': #ff7c7c,
    '10': #7c81ff,
    '11': #00b9f1,
  ),
);
